.col-12 {
  width: 100% !important;
}
.col-6 {
  width: 48% !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h5 {
  color: #d3d3d3;
  size: 21px;
  font-size: 17px;
  margin: 0;
  text-decoration: underline;
  font-weight: normal;
}
p {
  margin: 0;
}
.Section {
  width: 100%;
  background: white;
  min-height: 100px;
}
.Section__wrapper {
  margin: 0 auto;
}
.Section-header {
  height: 40px;
  min-height: 40px;
}
.Section-header .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.Section-divider {
  background: white;
  height: 10px;
  min-height: 10px;
}
.Section-header {
  background: #333333;
}
.Section-header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.Section-social-links {
  background: #ffffff;
  height: 90px;
  min-height: 90px;
}
.Section-social-links .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.Section-intro,
.Section-services {
  background: #172935;
}
.Section-services .Services {
  width: 70%;
  line-height: 150%;
  margin: 0 auto;
  color: #d3d3d3;
  size: 21px;
  font-size: 17px;
  padding: 50px 0;
}
.Section-about,
.Section-footer {
  background: #000000;
}
.Section-about {
  color: #d3d3d3;
  size: 21px;
  font-size: 17px;
  text-align: justify;
  height: 690px;
}
.Section-about p {
  width: 70%;
  line-height: 150%;
  margin: 0 auto;
  line-height: 200%;
  margin-top: 90px;
}
.Section-about .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  align-items: start;
}
.Section-faq {
  background: #0C1B2D;
}
.Section-faq .FAQ {
  width: 70%;
  line-height: 150%;
  margin: 0 auto;
  color: #d3d3d3;
  size: 21px;
  font-size: 17px;
  padding: 50px 0;
}
.Section-photo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 650px;
}
.Section-footer .menu-main-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Section-footer .menu-main-menu-container .menu {
  justify-content: center;
}
.Section-footer .ContactForm {
  max-width: 670px;
  margin: 0 auto;
  padding: 30px 0;
}
.Section-footer .ContactForm .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 12px;
}
.Section-footer .ContactForm .row label {
  display: flex !important;
  flex-direction: column !important;
}
.Section-footer .ContactForm .row label span {
  display: block;
}
.Section-footer .ContactForm .row label span.label {
  color: #969595;
  text-shadow: -1px 0 1px #464646;
  margin-bottom: 5px;
  font-size: 21px;
}
.Section-footer .ContactForm .row label .wpcf7-form-control-wrap {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}
.Section-footer .ContactForm .row label .wpcf7-form-control-wrap .wpcf7-form-control {
  display: flex !important;
  flex-direction: row !important;
  width: 96%;
  padding: 7px 2%;
  font-size: 17px;
}
.Section-footer .ContactForm .row label .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  margin-top: 7px;
}
.Section-footer .ContactForm .wpcf7-submit {
  color: #ffffff;
  text-shadow: -1px 0 1px #969595;
  font-size: 17px;
  padding: 10px 20px;
  background: linear-gradient(180deg, #696969 0%, #030202 100%);
  border: 1px solid #d5d5d5;
  cursor: pointer;
}
.Section-footer .ContactForm .wpcf7-response-output {
  color: #969595;
  text-shadow: -1px 0 1px #464646;
  font-size: 21px;
  margin: 10px 0;
}
.menu {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0;
  width: 70%;
  line-height: 150%;
  margin: 0 auto;
}
.menu-item {
  margin: 9px 17px;
}
.menu-item a {
  text-decoration: none;
  font-size: 19px;
  color: #ffffff;
  letter-spacing: 0.5px;
}
.menu-item a:hover {
  color: #d3d3d3;
}
.menu-item.current-menu-item a {
  color: #80a3ad;
}
.menu-main-menu-container {
  margin: 0;
  padding: 0;
  width: 70%;
  line-height: 150%;
  margin: 0 auto;
}
.SocialLinks {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0;
  width: 70%;
  line-height: 150%;
  margin: 0 auto;
}
.SocialLinks__link {
  margin: 10px;
}
.SocialLinks__link a {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.SocialLinks__link-yt {
  background-image: url("../images/sm_YT.png");
}
.SocialLinks__link-ig {
  background-image: url("../images/sm_IT.png");
}
.SocialLinks__link-fb {
  background-image: url("../images/sm_FB.png");
}
.SocialLinks__link-tt {
  background-image: url("../images/sm_TT.png");
}
.SocialLinks__link-tg {
  background-image: url("../images/sm_TG.png");
}
.SocialLinks__link-vb {
  background-image: url("../images/sm_VB.png");
}
.SocialLinks__link-wa {
  background-image: url("../images/sm_WA.png");
}
.Intro {
  width: 100%;
  height: 690px;
  position: relative;
}
.Intro__photo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/photo.png");
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 690px;
  height: 690px;
  margin-left: 0;
}
.Intro__logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/logo.png");
  background-size: contain;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: calc(126px / 3);
  width: 1056px;
  height: 126px;
}
.Intro__slogan {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 63px;
  color: #80a3ad;
  position: absolute;
  right: 0;
  top: calc(126px * 2);
  width: 1056px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Intro__slogan span {
  text-align: center;
  width: 75%;
}
.Intro__position {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 50px;
  font-weight: lighter;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #80a3ad;
}
.Intro__position span {
  display: block;
}
.Intro__position .bold {
  font-size: 115px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .Section__wrapper {
    width: 100%;
  }
  .Section-photo {
    height: 470px;
  }
  .Intro__photo {
    margin-left: calc((470px / 3) * -1);
  }
}
@media (min-width: 1601px) {
  .Section__wrapper {
    width: 1600px;
  }
  .Section-photo {
    height: 650px;
  }
  .Intro__photo {
    margin-left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */